@page
@{
    ViewData["Title"] = "Play Battleships";
}
<h2>@ViewData["Title"]</h2>



<div ng-controller="BattleshipController as vm">

    <div ng-init="vm.initData()">

        <div ng-model="vm.model.firstPlayer.name"></div>
        <div>Own board</div>

        <div ng-repeat=""></div>

        <div>Firing board</div>

    </div>

</div>

